<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="jquery-3.2.1.min.js"></script>
    <title>集成</title>
</head>
<body>

    <div></div>
    <br>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/ybcustomernum">查询银联5的商户编号</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/ybbalance">查询银联5子商户的账户余额</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://ds.jiepaypal.cn/v1.0/paymentchannel/topup/ybbpage">银联5的出款接口</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/ybnewcustomernum">查询银联4的商户编号</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/ybnewbalance">查询银联4子商户的账户余额</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/ybnewbpage">银联4的出款接口</a>
    <br>
    <br>
    <hr>
    <br>
    <a href="http://101.132.160.107/v1.0/paymentchannel/topup/userbankcard">查询用户的到账卡</a>
    <br>
    <br>
    <hr>
	

</body>
</html>